<?xml version="1.0"?>
<launch>

  <!-- For setting debug level to debug -->
  <env name="ROSCONSOLE_CONFIG_FILE" 
       value="$(find geonav_transform)/config/custom_rosconsole.conf"/>

  <node pkg="geonav_transform" type="geonav_transform_node" name="geonav_transform_node" clear_params="true" output="screen">
    <remap from="/nav_odom" to="/nav/odom"/>
  </node>
</launch>